* {
    padding: 0;
    margin: 0;
    font-size: 40px;
}

h1.boxone {
    background-color: #EB5757;
    border: 0 solid #9B51E0;
}s

.box-two {
    background-color: #2D9CDB;
    border: 0 solid #27Ae60;
}

body > styles > h1.boxone{
    color: blue;
}

